<style>

</style>

<div class="vehicle">
    <h2>{{ entry.title }}</h2>
    <div>
        <div class="dataValue">{{ entry.dataValueDoors }}</div>
        <div class="dataValue">{{ entry.dataValueGears }}</div>
        <div class="dataValue">{{ entry.dataValueSeats }}</div>
    </div>
    {{ entry.text }}
</div>