{% extends 'layouts/main-layout.twig' %}

{% block title %}Catalogue - Waumans Vehicles{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url('../styles/catalogue.css') }}">
{% endblock %}

{% block content %}
    <div class="filters">
        <label for="order">Order by:</label>
        <select id="order" name="order">
            <option value="default">Default</option>
            <option value="price_asc">Price (Low to High)</option>
            <option value="price_desc">Price (High to Low)</option>
        </select>
        <label for="seats">Number of Seats:</label>
        <select id="seats" name="seats">
            <option value="any">Any</option>
            <option value="2">2 Seats</option>
            <option value="4">4 Seats</option>
            <option value="5">5 Seats</option>
            <option value="6">6 Seats</option>
            <option value="7">7 Seats</option>
            <option value="8">8 Seats</option>
            <option value="9">9 Seats</option>
        </select>
        
        <button id="filterBtn">Filter</button>
    </div>

    <div class="vehicle__box" id="vehicleBox">
        {% set vehicle = craft.entries.section('vehicles').all() %}
        {% for car in vehicle %}
            <a href="{{ car.url }}" class="vehicle">
                <h2>{{ car.title }}</h2>
                <img class="vehicle__image" src="{{ car.carImage.one().url }}" alt="{{ car.carImage.one().title }}">
                {% set price = car.pricePerDay|money %}
                <div class="price">
                    <span class="price__value">{{ price|currency('EUR') }}</span>
                    <span class="price__period">/day</span>
                </div>
                <div class="data">
                    <div class="data__value"><span>Doors: </span>{{ car.dataValueDoors }}</div>
                    <div class="data__value"><span>Gears: </span>{{ car.dataValueGears }}</div>
                    <div class="data__value"><span>Seats: </span>{{ car.dataValueSeats }}</div>
                </div>
                <div class="vehicle__summary">{{ car.summaryText }}</div>
                <div class="rent__btn">Rent now</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}